<a href="https://colab.research.google.com/github/Mrsuccess127/github-slideshow/blob/master/Newbie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
x = 5
y = 10
print(x, y)
print(type(x), type(y))

5 10
<class 'int'> <class 'int'>

In [0]:
x = 3.5E3
y = 2.5E4
print(x*y)

87500000.0

In [0]:
x = 3j
print(x)
print(type(x))

3j
<class 'complex'>

In [0]:
x = 20
y  = 23.5

a = float(x)
b = int(y)
c = complex(x)

print(a, b, c)

20.0 23 (20+0j)

In [0]:
import random
print(random.randrange(1,10))

5

In [0]:
x = int("350")
y = int('5488')
z = int(34.34)
print(x, y, z)

350 5488 34

In [0]:
a = """My name is Adiele Oliver Chhukuebuka. I am a C, C++ and Python progammer.
I am very very bad in the game because i wanna be a god in coding. i know its not easy but ilook up to God....so help me God, AMEN!"""

print(a)

My name is Adiele Oliver Chhukuebuka. I am a C, C++ and Python progammer.
I am very very bad in the game because i wanna be a god in coding. i know its not easy but ilook up to God....so help me God, AMEN!

In [0]:
a = '''My name is Adiele Oliver Chhukuebuka. I am a C, C++ and Python progammer.
I am very very bad in the game because i wanna be a god in coding. i know its not easy but ilook up to God....so help me God, AMEN!'''

print(a)

My name is Adiele Oliver Chhukuebuka. I am a C, C++ and Python progammer.
I am very very bad in the game because i wanna be a god in coding. i know its not easy but ilook up to God....so help me God, AMEN!

In [0]:
a = "Hello World"
print(a[1])

e

In [0]:
a = "Kodehauz"
print(a[1:4])

ode

In [0]:
a = "Kodehauz"
print(a[-4:-1])
print(len(a))

hau
8

In [0]:
a = "Kode,Hauz "
print(a.strip())
print(a.lower())
print(a.upper())
print(a.split(","))

Kode,Hauz
kode,hauz
KODE,HAUZ
['Kode', 'Hauz ']

In [0]:
a = "KodeHauz "
print(a.replace('K', 'J'))

JodeHauz

In [0]:
text = "The name of the company i work with is Kodehauz"
check = "Kodehauz" in text
check2 = "company" not in text
check3 = "house" in text
print(check)
print(check2)
print(check3)

True
False
False

In [0]:
entrance = "Welcome to Kodehauz"
exit = "Thanks for your Patronage"
print(entrance + exit)
print(entrance+ " "+exit)

Welcome to KodehauzThanks for your Patronage
Welcome to Kodehauz Thanks for your Patronage

In [0]:
age = 32
text = "My name is Adiele Oliver Chukwuebuka. i am {} years old"
print(text.format(age))

My name is Adiele Oliver Chukwuebuka. i am 32 years old

In [0]:
agechioma, agechisom = 32, 15
text = "Chioma is {} and Chisom is {} years old"
print(text.format(agechioma, agechisom))

Chioma is 32 and Chisom is 15 years old

In [0]:
#using index numbers to place numbers accurately in a string

price, fees, tfare = 500, 1000, 300
text = "i need {2} for tfare , {1} for the fees and {0} for the chicken"
print(text.format(price, fees, tfare))

i need 300 for tfare , 1000 for the fees and 500 for the chicken

In [0]:
text = "We are the \"PROGRAMMERS\" from Kodehauz"
print(text)

We are the "PROGRAMMERS" from Kodehauz

In [0]:
text = "\234\233\344\343"
print(text)

äã

In [0]:
print(10>5)
print(5>10)

True
False

In [0]:
a, b = 30, 20

if a > b:
  print("yes")
else:
    print(no)

yes

In [0]:
x = 50
print(isinstance(x, str))

False

In [0]:
x = 20
y = 3
print(x%y)

2

In [0]:
print(5**2)

25

In [0]:
2**10 #2x2x2x2x2x2x2x2x2x2

1024

In [0]:
print(25//7)

3

In [0]:
#LISTS
fruits = ["Banana", "Mango", "Pineapple", "Cherry", "Guava", "Star Apple"]
print(fruits)

#lists can be accessed with the index number
print(fruits[2])

#negative indexing....begins from the last. The first index number is -1
print(fruits[-1])

#using a range of index. Range can be negative index as well

print(fruits[2:5])

#To change the value of a particular item
fruits[0]="Orange"
print(fruits)
print(fruits)

#looping through a list
for x in fruits:
  print(x)
  
#checking for membership
if "Orange" in fruits:
  print("yes")
else:
  print("no")
  
#Length of a list
print(len(fruits))


#adding an element to the end of the list
fruits.append("Banana")
print(fruits)


#adding an element to a specified index in a list
fruits.insert(0, "Tangerine")
print(fruits)

#To remove from a list
fruits.remove("Star Apple")
print(fruits)

#To remove the last element of the list using pop
fruits.pop() #removes a specified index or the last index if any was not specified
print(fruits)

#To remove a particular index
del fruits[1]
print(fruits)

#To remove a list completely we use del or clear
#del fruits
#fruits.clear()
#print(fruits)

#To copy a list
copyfruits = fruits.copy()
print(copyfruits)

anothercopyfruits = list(fruits)
print(anothercopyfruits)

#To join two list
snacks = ["Breadbuns", "Hamburger", "Egg Roll"]
food = fruits + snacks
print(food)
#***************************using the append method to add
for x in snacks:
  fruits.append(x)
  print(fruits)
#***************************using extend method
fruits.extend(snacks)
print(fruits)


#using the list constructor to make a list
food = list(("Rice", "Beans", "Soup"))
print(food)

['Banana', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Star Apple']
Pineapple
Star Apple
['Pineapple', 'Cherry', 'Guava']
['Orange', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Star Apple']
['Orange', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Star Apple']
Orange
Mango
Pineapple
Cherry
Guava
Star Apple
yes
6
['Orange', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Star Apple', 'Banana']
['Tangerine', 'Orange', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Star Apple', 'Banana']
['Tangerine', 'Orange', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Banana']
['Tangerine', 'Orange', 'Mango', 'Pineapple', 'Cherry', 'Guava']
['Tangerine', 'Mango', 'Pineapple', 'Cherry', 'Guava']
['Tangerine', 'Mango', 'Pineapple', 'Cherry', 'Guava']
['Tangerine', 'Mango', 'Pineapple', 'Cherry', 'Guava']
['Tangerine', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Breadbuns', 'Hamburger', 'Egg Roll']
['Tangerine', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Breadbuns']
['Tangerine', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Breadbuns', 'Hamburger']
['Tangerine', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Breadbuns', 'Hamburger', 'Egg Roll']
['Tangerine', 'Mango', 'Pineapple', 'Cherry', 'Guava', 'Breadbuns', 'Hamburger', 'Egg Roll', 'Breadbuns', 'Hamburger', 'Egg Roll']
['Rice', 'Beans', 'Soup']

In [0]:
#TUPLE********A tuple is and ordered collection that is unchangeable(for its values). Once a tuple is created, items cannot be added to it.

#creating a tuple
fruits = ("apple", "strawberry", "mango")
print(fruits)

#to change the values of tuple. This is done by first converting the tuple into list and then change
vitamin = list(fruits)
vitamin[0] = "Guava"
print(vitamin)

#To add a tuple contaning 1 item. a comma is used after the item, else python wont recognize it as a tuple(a tuple is made up of more than 1 items)
food = ("rice",)
print(food)
print(type(food))

('apple', 'strawberry', 'mango')
['Guava', 'strawberry', 'mango']
('rice',)
<class 'tuple'>

In [0]:
#SETS***********set is an unordered and unindexed collection......denoted by curly brackets

#creating a set
fruits = {"pineapple", "orange", "mango"}
print (fruits)

#to access items in a set , the for loop is used to loop through the set or check if an item is in a set by using "in"
for x in fruits:
  print(x)
print("orange" in fruits)

#To add items to a set......the add()is used
fruits.add("strawberry")
print(fruits)
#************update() is used for adding multiple items
fruits.update(["star apple", "Guava"])
print(fruits)

#to remove an item from a list, remove(), discard(), pop()[for last item in the set]
fruits.remove("Guava")
print(fruits)

#to join sets......Both union() and update() doesnt make duplicate of items
food = {"rice", "beans"}
items = fruits.union(food)
print(items)
items.update(fruits)
print(items)

{'pineapple', 'mango', 'orange'}
pineapple
mango
orange
True
{'pineapple', 'mango', 'orange', 'strawberry'}
{'orange', 'mango', 'Guava', 'strawberry', 'pineapple', 'star apple'}
{'orange', 'mango', 'strawberry', 'pineapple', 'star apple'}
{'pineapple', 'orange', 'rice', 'beans', 'mango', 'star apple', 'strawberry'}
{'orange', 'mango', 'strawberry', 'pineapple', 'rice', 'beans', 'star apple'}

In [0]:
#DICITIONARIES.......This is  a colleciton that is unordered, changeable and indexed.They have keys and are enclosed in a curly bracket
names = { "man":"ebuka", "name":"ini","year":1964}
print(names)
print(type(names))

#Acessing items in a dictionary
x = names["name"]
print(x)

y = names.get("man")
print(y)

#changing values of the items in a dictionary
names["name"] = "Adiele"
print(names)
print("*********************************************************************\n\n")

#looping through a dicitonary
for x in names:
  print(x, "\n")
  
for x in names:
  print(names[x])
  
#Adding items to the dictionary
names["age"] = 22
print(names)

#creating a nested dicitonary
child1 = {
    "name":"chidiogo",
    "age":22
}
child2 = {
    "name":"success",
    "age":20
}
child3 = {
    "name":"baby",
    "age":18
}

myfamily = {
    "child1" : child1,
    "child2" : child2,
    "child3" : child3
}
print(myfamily)

{'man': 'ebuka', 'name': 'ini', 'year': 1964}
<class 'dict'>
ini
ebuka
{'man': 'ebuka', 'name': 'Adiele', 'year': 1964}
*********************************************************************


man

name

year

ebuka
Adiele
1964
{'man': 'ebuka', 'name': 'Adiele', 'year': 1964, 'age': 22}
{'child1': {'name': 'chidiogo', 'age': 22}, 'child2': {'name': 'success', 'age': 20}, 'child3': {'name': 'baby', 'age': 18}}

In [0]:
#CONDITION STATEMENT
a = 30
b = 20
if a>b:
  print(a+b)
else:
  print(a-b)
  
#Elif condition tells the compiler to check another condition incase the first one does work out
a = 30
b = 30
if a > b:
  print(a+b)
elif a == b:
  print("yes")
  
  
#Using the short hand if
if a==b: print(a+b)
print(a+b) if a>b else print("no")

#Using the AND condition......checks if both conditions are through
a  = 10
b = 5
c = 4
if a>b and b>c:
    print("yes")

#using the OR condtion.....checks if any of the conditions is true
a  = 10
b = 5
c = 4
if a>b or b<c:
    print("yes")

#using the pass statement.......used for an empty if statement to prevent error from the compiler
a  = 10
b = 5
c = 4
if a>b:
  pass

50
yes
60
no
yes
yes

In [0]:
#WHILE LOOP
"""
n = 1
while n <6:
  print(n)
  n+=1
  """

#using a break statement to stop a loop
n = 1
while n<5:
  print(n)
  if(n == 3):
    break
  n += 1
  
#using the continue statement
n = 1
while n<6:
  n += 1
  if n ==3:
    continue
  print(n)
  
#using an else statement with a while statement
n = 1
while n <6:
  print(n)
  n+=1
else:
  print("error")

1
2
3
2
4
5
6
1
2
3
4
5
error

In [0]:
#FOR LOOP( for loops is used to repeat a sequence which could be a list, tuple, set or dictionary)

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  
#using break in a for loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break
    
#using range......range is used to loop through a code number of times
for x in range(6):
  print(x)
  
  
#nested loops
fruits = ["apple", "banana", "cherry"]
fruits1 = ["apple", "banana", "cherry"]

for x in fruits:
  for y in fruits1:
    print(x,y)

apple
banana
cherry
apple
banana
0
1
2
3
4
5
apple apple
apple banana
apple cherry
banana apple
banana banana
banana cherry
cherry apple
cherry banana
cherry cherry

In [3]:
#FUNCTIONS........function is defined using the "def" keyword
def myfunction():
  print("hello world")
  
myfunction()

#using parameters in a function
def names(fname):
  print("Adiele " + fname)
  
names("Ebuka")
names("success")
names("Emily")

#when a function uses a default parameter
def state( country = "Nigeria"):
  print("I am from " + country)
  
state("usa")
state("canada")
state("Russia")
state()

#passing a list to a function
def funct(food):
  for x in food:
    print(x)
    
fruits1 = ["apple", "banana", "cherry"]
funct(fruits1)

#using Return statement......return is used to return a value
def arith(x):
  return 5 * x

print(arith(3))
print(arith(5))
print(arith(10))

#keyword arguments
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function("Emil","Tobias","Linus")


#arbitrary arguments....used when one is not sure of the number of arguments to be passed to a function
def kids(*kid):
  print("The last child is " + kid[0])
  
kids("chioma", "chidiogo", "Emmanuel")


#Recursion......situation whereby a defined function can call itself......here a function calls itself in that same function

def fun(n):
  if n > 0:
    result = n + fun(n-1)
    print(result)
  else:
    result = 0
  return result

print("\n\n\n")
fun(6)

hello world
Adiele Ebuka
Adiele success
Adiele Emily
I am from usa
I am from canada
I am from Russia
I am from Nigeria
apple
banana
cherry
15
25
50
The youngest child is Emil
The last child is chioma




1
3
6
10
15
21

21

In [8]:
#LAMBDA FUNCTION........Lambda function is a small anonymous function.....more like an inline function...."lambda argument : expression"
#lambda function that adds 10 to any number passed 
x = lambda a: a +10
print(x(5))

#lambda function that takes 2 arguments and multiply them
x = lambda a, b: a * b
print(x(10,20))

#using lambda in a function........"fumction to multiply one argument with an unnown number"
def func(n):
  return lambda a: a*n

doubler = func(2)
print(doubler(20))

15
200
40

In [0]:
#ARRAYS